<%- include("partials/header") -%> 

<div class="container text-center text-secondary mt-5">
    <h1 style="font-size: 4rem;">
        ¯\_(ツ)_/¯
    </h1>
    <p class="mt-3">
       <%= tagline %> 
    </p>
</div>



  


<%- include("partials/footer") -%>